body {
    font-size: 16px;
    padding: 0px;
    margin: 10px;
}

h1 {
    font-size: 48px;
    background-color: #707afa;
}

h1:hover {
    background-color: rgb(0, 255, 34);
}

.ad {
    border: 2px solid #2d79c0;
    border-radius: 20px 10px;
}

.strong {
    font-style: italic;
    font-weight: 500;
    border-bottom: #707afa;
    text-align: center;
}

.ad:hover {
    border-color: #111;
    background-color: #2d79c0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 nav li a:hover {
    background-color: #111;
  }

  section {
    display: flex;
   }
   
   aside {
    flex: 1
   }
   
   article {
    flex: 4
   }